/* BB eBooks BoilerPlate EPUB */


/* Modify as Needed */


/* NOT SUITABLE for Kindle */


/* visit us @ http://bbebooksthailand.com/developers.html */


/* Modified by XDcsy */


/* This adds margins around every page to stop ADE's line numbers from being superimposed over content  */

@page {
    margin: 10px;
}

h1 {
    text-indent: 0;
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 2.0em;
    font-weight: bold;
    page-break-before: always;
    line-height: 150%;
    /*gets squished otherwise on ADE */
}

h2 {
    text-indent: 0;
    margin: 20px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 135%;
    /*get squished otherwise on ADE */
}

h3 {
    text-indent: 0;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
}

h4 {
    text-indent: 0;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

h5 {
    text-indent: 0;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
}

h6 {
    text-indent: 0;
    text-align: left;
    font-size: 1.0em;
    font-weight: bold;
}


/* Hyphen and pagination Fixer */


/* Note: Do not try on the Kindle, it does not recognize the hyphens property */

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-hyphens: none !important;
    hyphens: none;
    page-break-after: avoid;
    page-break-inside: avoid;
}

p {
    text-indent: 0;
    margin: 1.0em 0 0 0;
    widows: 2;
    orphans: 2;
    word-wrap: break-word;
    text-align: justify;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


/*==IMAGES==*/

img {
    max-width: 100%;
}


/*==TABLES==*/

table {
    margin: 1.0em auto;
}

tr,
th,
td {
    margin: 0;
    padding: 2px;
    border: 1px solid black;
    font-size: 100%;
    vertical-align: baseline;
}


/*==eBook Specific Formatting Below Here==*/


/* media query */


/* https://getbootstrap.com/docs/4.5/layout/overview/#responsive-breakpoints */

body {
    margin-left: 2%;
    margin-right: 2%;
}

pre {
    overflow: auto;
    background-color: #f0f3f3;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

span.code {
    background-color: #f0f3f3;
    white-space: normal;
    word-break: break-all;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}


/* super small screen */

@media (min-width: 576px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }
}


/* mobile screen */

@media (min-width: 768px) {
    body {
        margin-left: 4%;
        margin-right: 4%;
    }
    pre {
        font-size: 3em;
    }
}


/* pad screen */

@media (min-width: 992px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
    pre {
        font-size: 1em;
    }
}


/* computer screen */

@media (min-width: 1200px) {
    body {
        margin-left: 23%;
        margin-right: 23%;
    }
    pre {
        font-size: 1em;
    }
}

a {
    color: inherit
}

a.home {
    color: green;
}

.red {
    color: red;
}

p.date {
    text-align: center;
    color: gray;
}

p.footer {
    text-align: center;
    color: gray;
}

div {
    margin: 1.0em 0 0 0;
}

img.github {
    max-width: 3%;
    height: auto;
}